<h1>Login de Admin</h1>
{{#if errorMessage}}
    <p style="color: red;">{{errorMessage}}</p>
{{/if}}
<form action="/admin/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required>
    <br>
    <input type="submit" value="Entrar">
</form>

